body { margin:0;}

a, a:hover, a:visited, a:active {
color: inherit;
text-decoration: none;
}
@media only screen and (min-width: 600px){
body {font-size:25px; font-family:Calibri; color:white; background-image:url('bg.jpg'); background-repeat:no-repeat; background-attachment: fixed; background-size: cover;}
.previous {float:left; color: white;  text-align:center;}
.next {float:right; color: white; text-align:center;}
.nomob {display: block;}
.main {width:80%; background-color:black;  margin-left: auto; margin-right: auto; font-family:helvetica,arial,sans-serif; margin-top: 40px;}
.mobile {display:none}
.desktop {display:block}
.header {width:100%; border: none; text-align: center;  margin-left: auto; margin-right: auto; font-size:50px; padding-top: 20px}
p {
margin-left: 25px;
margin-right: 25px;
}
}
@media only screen and (max-width: 600px) {
body {font-size:20px; font-family:Calibri; color:white; margin:0; background-image: none;}
.main {width:100%; background-color:black;  margin-left: auto; margin-right: auto; font-family:helvetica,arial,sans-serif; box-sizing: border-box; margin-top: 35px;}
.nomob {display: none;}
.previous {float:left; color: white;  font-size:20px; width:30%}
.next {float:right; color: white; font-size:20px; width:30%}
.mobile {display:block}
.desktop {display:none}
.header {width:100%; border: none; text-align: center;  font-size:30px; padding-top: 30px}
p {
margin-left: 10px;
margin-right: 10px;
}
}
.iframe  {
position: relative;
overflow: hidden;
width: 80%;
padding-top: 45%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
.responsive-iframe {
border:none;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
width: 100%;
height: 100%;
}
.navbar {
  overflow: hidden;
  background-color: #0f1e30;
  position: fixed;
  top: 0;
  width: 100%;
  text-align:center;
  z-index: 1;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  white-space: nowrap;
}

.navbar a:hover {
  background: #0067a3;
  color: black;
}
.comments {
width: 95%;
background-color: white;
text-align:center;
margin-left: auto;
margin-right: auto;
}
